.search-container {
    display: block;
    margin: 2vh 0;
}

.map-container {
    width: 40%;
    height: 70vh;
    min-height: 300px;
}

.cities-container {
    background-color: #ddd;
    width: 60%;
    height: 70vh;
    min-height: 300px;
    overflow-y: scroll;
}

section {
    display: flex;
    justify-content: space-between;
}
