<div class="container-fluid">
    <div class="search-container">
        <div class="form-group">
            <label>
                Pesquisar
            </label>

            <div>
                <input type="text" class="form-control" [formControl]="search">
                <button class="btn btn-dark" [disabled]="!search.valid" (click)="doSearch()">Pesquisar</button>
            </div>
        </div>

        <div class="form-group">
            <label>
                Pesquisar com <i>autocomplete</i>
            </label>
        </div>

        <ng-container *ngIf="loading$ | async">
            Pesquisando..aguarde só mais um pouco...
        </ng-container>

        <div *ngIf="!(loading$ | async) && !(error$ | async) && (cityWeather)">
            <app-current-weather [cityWeather]="cityWeather" [isFavorite]="isFavorited$ | async"
                (onToggleBookmark)="onToggleBookmark()"></app-current-weather>
        </div>

        <div *ngIf="!(loading$ | async) && (error$ | async)">
            <a>Tentar novamente</a>
        </div>
    </div>

    <section>
        <div class="map-container" *ngIf="googleMapsReady$ | async">
            <app-map (onSetMark)="onSetMark($event)">
            </app-map>
        </div>

        <div class="cities-container">
            <app-weather-cities #appCities></app-weather-cities>
        </div>
    </section>
</div>